name: "Ruby"
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
jobs:
  test:
    runs-on: ubuntu-latest

    env:
      RAILS_ENV: test
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Install Ruby and gems
        uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true

      - name: Run tests and Rubocop
        run: bundle exec rake
